MYSQLDB_USER= #fill your username
MYSQLDB_ROOT_PASSWORD=#fill your password
MYSQLDB_DATABASE=#fill your DB
MYSQLDB_LOCAL_PORT=#fill your PORT
MYSQLDB_DOCKER_PORT=#fill your PORT

SPRING_LOCAL_PORT=#fill your PORT
SPRING_DOCKER_PORT=#fill your PORT
DEBUG_PORT=#fill your PORT